body {
    font-size: 14px;
}

.react-grid-layout {
    background-color: rgba(0,0,0,.3);
}

.react-grid-item {
    background-color: white;
    padding: 0px;
    z-index: 10;

    span.remove {
    	color: $blue-gray;
    	font-size: 18px;
    	top: 5px !important;
    	left: 10px !important;
    	width: 14px;
    }

    .react-resizable-handle {
        color: $blue-gray;
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0px;
        bottom: 0px;

        transform: rotate(45deg);

        &:before {
            content:"\f105";
            font-family: FontAwesome;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.react-grid-placeholder {
    background-color: darken($blue-gray, 10%);
    z-index: 1;
}

.add-block {
	background-color: $blue-gray;
	color: white;
	text-align: center;

    .add.text {
        cursor: pointer;
    }

	i {
		font-size: 26px;
		margin-top: 15%;
	}

    .react-resizable-handle {
        color: white;
    }
}

/* entire container, keeps perspective */
.card-wrapper {
    perspective: 1000;

    background-color: rgba(0,0,0,.1);
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* flip the pane when class added */
.card-wrapper.flip .card {
    transform: rotateY(180deg);
}

.card-wrapper, .front, .back {
    height: 100%;
    width: 100%
}

 /* flip speed goes here */
.card {
    height: 100%;

    transition: 0.6s;
    transform-style: preserve-3d;

    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    background-color: white;
    text-align: left;
    padding: 20px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

    padding-top: 20px;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.settings{
    color: #ccc;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 5px;

    :hover {
        color: #333;
        cursor: pointer;
    }
}

.done {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
}

.author {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.publication {
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}

.content {
    overflow: auto;
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;

    p{
        font-size: 14px;
    }

    img {
        margin-bottom: 20px;
    }
}

.continue, .read-more {
    font-size: 14px;
}

.content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.full-story {
    display: none;
}

p.block-quote {
    padding-left: 20px;
  font-style: italic;
  font-size: 14px;
  border-left: 5px solid #3b5998;
}



